<style>
	.tags-container {
		margin: 1rem 0;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: flex-start;
		align-items: center;

		/* remove default list style */
		list-style: none;
		margin-block-start: 0;
		margin-block-end: 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding-inline-start: 0;
	}

	.tags li {
		background-color: #f0f0f0;
		margin: 0;
		padding: 0;
	}

	.tags li a {
		padding: 0;
	}

	.tags-title {
		font-size: 1.4rem;
	}
</style>

<div class="tags-container">
	<h3>
		<a href="/tags" class="tags-title"> Tags </a>
	</h3>

	<ul class="tags">
		{{ $tags }}
	</ul>
</div>
